.cadastroPostagem{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
  }

  .background1{
    position: absolute;
    opacity: 0.4;
    height: auto;
    min-height: 80vh;
    max-width: 100%;
    
  }

  .background2{
    overflow: hidden;
    position: relative;

  }